<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>shopping list app</title>
    <link rel="stylesheet" href="/1.Getting Started With Vue.js/main.css" />
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
  </head>

  <body>
    <div id="shopping-list">
      <div class="header">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <!-- <h2>{{ header ? header : 'shopping list' }}</h2> -->
        <button v-if="state === 'default'" class="btn btn-primary" @click="saveItem">Save Item</button>
        <button v-else="state === 'edit'" class="btn btn-cancel">Cancel</button>
      </div>
      <div class="add-item-form">
        <input
          type="text"
          v-model="newItem"
          placeholder="Add an item"
          :keyup.enter="saveItem"
        />
      </div>
      <ul>
        <li v-for="item in items">{{item}}</li>
      </ul>
      <p v-if="items.length === 0">Nice job ！ you've bought all the things you listed</p>
    </div>
    <script>
      var shoppingList = new Vue({
        el: "#shopping-list",
        data: {
          state: 'default',
          header: "shopping list app",
          items: [
            // "10 party hats",
            // "5 stocks"
          ],
          newItem: ""
        },
        methods: {
          saveItem: function() {
            this.items.push(this.newItem);
            this.newItem = "";
          }
        }
      });
    </script>
  </body>
</html>
